# dependencies
node_modules/

# next.js
.next/

# env
.env
.env.local
.env*.local

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# typescript
tsconfig.tsbuildinfo

# journal data
data/journals/*
!data/journals/contoh-jurnal.txt

# vercel
.vercel

